﻿<div id="body" class="container-fluid" ng-controller="rightCareerListCtl">

    <div id="querySection" class="col-lg-2 col-sm-4 col-xs-12">
        <form>
            <div class="form-group-sm">
                <label for="geography" class="form-control-static">Geography:</label>
                <select id="geography" class="form-control" ng-model="prov">
                    <option ng-repeat="pro in provinces" value="{{pro.ProvinceCode}}">{{pro.ProvinceName}}</option>
                </select>
            </div><br />
            <div class="form-group-sm">
                <label for="education" class="form-control-static">Highest certificate, diploma or degree :</label>
                <select id="education" class="form-control" ng-model="education">
                    <!--option title="Total - Highest certificate, diploma or degree" value="0" selected="selected">Total - Highest certificate, diploma or degree</!--option>
                    <option title="  No certificate, diploma or degree" value="1">  No certificate, diploma or degree</option>
                    <option title="  High school diploma or equivalent" value="2">  High school diploma or equivalent</option>
                    <option title="  Postsecondary certificate, diploma or degree" value="3">  Postsecondary certificate, diploma or degree</option>
                    <option title="    Postsecondary certificate or diploma below bachelor level" value="4">    Postsecondary certificate or diploma below bachelor level</option>
                    <option title="    University certificate, diploma or degree at bachelor level or above" value="5">    University certificate, diploma or degree at bachelor level or above</option>-->
                    <option ng-repeat="ed in eduTypes" value="{{ed.Code}}">{{ed.Description}}</option>
                </select>
            </div><br /><br />
            <div class="form-group-sm">
                <button class="btn-lg btn-info  form-control-static" ng-click="filterRows()">Search</button>
                <button class="btn-lg btn-danger  form-control-static">Cancel</button>
            </div>
            <br /><br /><br /><br />
        </form>
    </div>
    <div id="listSection" class="col-lg-10 col-sm-8 col-xs-12">
        <table class="table-responsive table-bordered table-condensed">
            <tr class="bg-primary">
                <th>NOC Occupation</th>
                <th>Final Assessment of projected labour market conditions (shortage, surplus or balance) (2013-2022)</th>
                <th>Median Wages &amp; salary</th>
                <th>Avarage Wages &amp; salary</th>
                <th>&nbsp;</th>
            </tr>
            <!--| filter:{province:prov,education:education}-->
            <tr ng-repeat="item in tempItems">
                <td>{{item.NocCode}}&nbsp;-&nbsp;{{item.NocDescription}}</td>
                <td>{{item.FinalAssesment}}</td>
                <td>{{item.MedianSalary | currency}}</td>
                <td>{{item.AverageSalary | currency}}</td>
                <td><button class="btn btn-default form-control" data-target="#detailPopup" data-toggle="modal">Detail</button></td>
            </tr>
        </table>

    </div>
    <div class="modal fade" id="detailPopup">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">Occupation Details</div>
                <div class="modal-body">
                    <table class="table table-condensed table-responsive table-bordered">
                        <tr>
                            <td>Employment in 2012</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Employment growth</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Retirements</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Other replacement</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Job Openings</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Number of school leavers</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Immigrants entering the labour market</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Job seekers from other categories</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Job seekers from all components</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Immigrants entering the labour market</td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
