﻿<div id="body" class="container-fluid" ng-controller="rightCareerListCtlMobile">

    <div id="querySection" class="col-lg-2 col-sm-4 col-xs-12">
        <form>
            <div class="form-group-sm">
                <label for="geography" class="form-control-static">Geography:</label>
                <select id="geography" class="form-control" ng-model="prov">
                    <option ng-repeat="pro in provinces" value="{{pro.ProvinceCode}}">{{pro.ProvinceName}}</option>
                </select>
            </div><br />
            <div class="form-group-sm">
                <label for="education" class="form-control-static">Highest certificate, diploma or degree :</label>
                <select id="education" class="form-control" ng-model="education">
                    <option ng-repeat="ed in eduTypes" value="{{ed.Code}}">{{ed.Description}}</option>
                </select>
            </div><br /><br />
            <div class="form-group-sm">
                <button class="btn-lg btn-info  form-control-static" ng-click="filterRows()" onclick="showList();">Search</button>
                <button class="btn-lg btn-danger  form-control-static">Cancel</button>
            </div>
            <br /><br /><br /><br />
        </form>
    </div>
    <div id="listSection" class="col-lg-12 col-sm-12 col-xs-12" style="display:none;">
        @Html.ActionLink("Home", "Index_Mobile", "Home")
        <div class="container-fluid">
            <select id="sortList" ng-model="querySort" ng-change="sortRows()">
                <option value="00">NOC (ASC)</option>
                <option value="01">NOC (DESC)</option>
                <option value="10">Median Wages (ASC)</option>
                <option value="11">Median Wages (DESC)</option>
                <option value="20">Avarage Wages (ASC)</option>
                <option value="21">Avarage Wages (DESC)</option>
            </select>
        </div>
        <table class="table-responsive table-bordered table-condensed">
            <tr ng-repeat="item in tempItemsMobile" data-toggle="modal" data-target="#detailPopup">
                <td class="list-group-item-info" ng-click="getNocDescription(item)">({{item.NOCCODE}}){{item.NOCDescription}}</td>
            </tr>
        </table>
        <div class="container-fluid">
            <button id="prevPage" class="btn btn-default" ng-click="goPrevPage()">&lt;</button>
            <button id="nextPage" class="btn btn-default" ng-click="goNetxPage()">&gt;</button>
        </div>
    </div>
    <div class="modal fade" id="detailPopup">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">Occupation Details</div>
                <div class="modal-body">
                    <table class="table table-condensed table-responsive table-bordered">
                        <tr>
                            <td>NOC:</td>
                            <td>({{nocItem.NocCode}})</td>
                        </tr>
                        <tr>
                            <td>Occupation Description:</td>
                            <td>{{nocItem.NocDescription}}</td>
                        </tr>
                        <tr>
                            <td>Province Name:</td>
                            <td>{{nocItem.ProvinceName}}</td>
                        </tr>
                        <tr>
                            <td>Final Assesment:</td>
                            <td>{{nocItem.FinalAssesment}}</td>
                        </tr>
                        <tr>
                            <td>Score:</td>
                            <td>{{nocItem.score}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    
    function showList() {
        $('#querySection').css("display", "none");
        $('#listSection').css("display", "block");
    }

    $('#myModal').on('shown.bs.modal', function () {
        
    });
</script>